
.izquierda{:style=>"width:80px"}
  = image_tag comentario.gravatar_url

.izquierda

  %p{:class=>"leyenda"}
    %em{:class=>"gris"} Por:
    = h comentario.nombre
    %em{:class=>"gris"} el:
    = l comentario.created_at, :format => "%d %B %Y %H:%M"
    - unless comentario.web.blank?
      %em{:class=>"gris"} web:
      = h comentario.web

  %p
    =h comentario.texto
  
.clear