/*
Sass::SyntaxError: Undefined variable: "!font_serif".
on line 17 of /Users/ccastillop/Sites/cristiancastillo/public/stylesheets/sass/layout.sass

13:     float: left
14:     width: 50%
15:     font-size: 2em
16:     p
17:       :font-family = !font_serif
18:     .apa
19:       font-size: 1.5em
20:       color: #ddd
21:     .slogan
22:       font-size: 0.6em
23:       font-style: italic


Backtrace:
/Users/ccastillop/Sites/cristiancastillo/public/stylesheets/sass/layout.sass:17
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/script/variable.rb:27:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/prop_node.rb:99:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:181:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:193:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/rule_node.rb:159:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:181:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:193:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/rule_node.rb:159:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:181:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:193:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/rule_node.rb:159:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:181:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:193:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:181:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:158:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/tree/node.rb:103:in `render'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin.rb:96:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin.rb:77:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin.rb:77:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin.rb:75:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin.rb:75:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin.rb:62:in `check_for_updates'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.2.15/rails/../lib/sass/plugin/rails.rb:18:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/base.rb:391:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/base.rb:386:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/routing/route_set.rb:437:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:87:in `dispatch'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:121:in `_call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:29:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:29:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:9:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:28:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/usr/local/lib/ruby/gems/1.8/gems/warden-0.6.5/lib/warden/manager.rb:96:in `call'
/usr/local/lib/ruby/gems/1.8/gems/warden-0.6.5/lib/warden/manager.rb:95:in `catch'
/usr/local/lib/ruby/gems/1.8/gems/warden-0.6.5/lib/warden/manager.rb:95:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/string_coercion.rb:25:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/params_parser.rb:15:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/session/cookie_store.rb:93:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/failsafe.rb:26:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:114:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/reloader.rb:34:in `run'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:108:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.3.5/lib/rails/rack/static.rb:31:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:46:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `each'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.3.5/lib/rails/rack/log_tailer.rb:17:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/content_length.rb:13:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/chunked.rb:15:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:64:in `process'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:34:in `run'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.3.5/lib/commands/server.rb:111
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
./script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined variable: \"!font_serif\".\A on line 17 of /Users/ccastillop/Sites/cristiancastillo/public/stylesheets/sass/layout.sass\A \A 13:     float: left\A 14:     width: 50%\A 15:     font-size: 2em\A 16:     p\A 17:       :font-family = !font_serif\A 18:     .apa\A 19:       font-size: 1.5em\A 20:       color: #ddd\A 21:     .slogan\A 22:       font-size: 0.6em\A 23:       font-style: italic\A "; }
