- title "Categoria"

%p
  %strong Nombre:
  =h @categoria.nombre
%p
  %strong ¿Va al menú?:
  =h @categoria.menu
%p
  %strong User:
  =h @categoria.user

%p
  = link_to "Edit", edit_user_categoria_path(@user,@categoria)
  |
  = link_to "Destroy", [@user,@categoria], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", user_categorias_path(@user)
